@model LOLSA.Models.Login
@{
    ViewBag.Title = "login";
}

@using (Html.BeginForm("ValidateUser", "Account"))
{
    <fieldset id="registerForm">
        <div class="container app-container-signin">
            @Html.TextBoxFor(m => m.Username, new { data_bind = "value: Name:", @class = "form-control app-fill-lightgray app-border-darkgray fieldInput", @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.Username, null, new { @class = "ValidationMessage" })

            @Html.PasswordFor(m => m.Password, new { data_bind = "value: Name:", @class = "form-control app-fill-lightgray app-border-darkgray fieldInput", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "ValidationMessage" })

            <button type="submit" id="LoginButton" class="btn btn-lg btn-primary btn-block">Login</button>
                @Html.CheckBoxFor(m => m.RememberMe, new { data_bind = "value: Name:", @class="checkbox", @style="float: left; margin-right: 10px;" })
                <span style="color:white">Remember me</span>
        </div>
    </fieldset>
}
@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}