@model LOLSA.Models.Register
@using LOLSA.Models
@{
    ViewBag.Title = "register";
}
<link href="~/Content/fontStyles.css" rel="stylesheet">
@using (Html.BeginForm("RegisterUser", "Account"))
{
    <fieldset id="registerForm">
        <div class="container app-container-signin">

            @Html.TextBoxFor(m => m.Username, new { data_bind = "value: Name:", @class = "form-control app-fill-lightgray app-border-darkgray fieldInput username", @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.Username, null, new { @class = "ValidationMessage" })

            <div id="summoners">
                @Html.EditorFor(m => m.Summoners)
            </div>
            <span id="AddSummoner">
                @Html.AddLink("Add Summoner", "#summoners", ".summoner", "Summoners", typeof(LOLSA.Models.SummonerInfo))
            </span>
            @Html.TextBoxFor(m => m.Email, new { data_bind = "value: Name:", @class = "form-control app-fill-lightgray app-border-darkgray fieldInput", @placeholder = "Email"})
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "ValidationMessage" })

            @Html.PasswordFor(m => m.Password, new { data_bind = "value: Name:", @class = "form-control app-fill-lightgray app-border-darkgray fieldInput", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "ValidationMessage" })

            @Html.PasswordFor(m => m.ConfirmPassword, new { data_bind = "value: Name:", @class = "form-control app-fill-lightgray app-border-darkgray fieldInput", @placeholder = "Confirm Password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "ValidationMessage" })

            <button type="submit" id="LoginButton" class="btn btn-lg btn-primary btn-block">Register</button>
        </div>
    </fieldset>
      
}

@section scripts {
    <script src="~/Scripts/Register.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


    
}
